:root {
    --proj-color-1: #0386D0;
    --proj-color-7: #f4d91b;
    --proj-color-6: #b7b7e3;
    --proj-color-5: #ebeaea;
    --proj-color-4: #4fbbd2;
    --proj-color-3: #5856d6;
    --proj-color-2: #3F52BB;
    --ui-color-gray: #e0e0e0;
    --font-family-one: 'Cabin';
    --font-family-two: 'Montserrat';
    --font-family-three: 'Montserrat';
}